<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.phh">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PHH">
        <activity android:name=".PatientHospitalReservation"/>
        <activity android:name=".PatientState" />
        <activity android:name=".PatientMedicationReminder" />
        <activity android:name=".PatientMainActivity" />
        <activity android:name=".GuardO2chart" />
        <activity android:name=".GuardHeartchart" />
        <activity android:name=".GuardAppointment" />
        <activity android:name=".GuardMainActivity" />
        <activity android:name=".MainActivity2" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".PatientAlertReceiver_a" />
        <receiver android:name=".PatientAlertReceiver_b" />
        <receiver android:name=".PatientAlertReceiver_c" />
        <service android:name="org.eclipse.paho.android.service.MqttService" />

    </application>

</manifest>